@model LiteCommerce.DomainModels.Customer
@{

}
<div class="box box-primary">
    <form role="form" action="~/Customer/Input" method="post">
        <div class="box-header text-right">
            <a href="~/Customer">Back to List</a>
        </div>
        <div class="box-body">
            <input type="hidden" name="Action" value="@ViewBag.Action" />
            <div class="form-group">
                <label>Customer ID: @Html.ValidationMessage("CustomerID", new { @style = "color:red" })</label>
                @{ 
                    if (ViewBag.Action == "_Edit")
                    {
                        <input type="text" value="@Model.CustomerID" name="CustomerID" class="form-control" placeholder="Enter Customer ID readonly">
                    }
                    else
                    {
                        <input type="text" value="@Model.CustomerID" name="CustomerID" class="form-control" placeholder="Enter Customer ID">
                    }
                }
               
            </div>
            <div class="form-group">
                <label>Company Name: @Html.ValidationMessage("CompanyName",new { @style = "color:red" })</label>
                <input type="text" value="@Model.CompanyName" name="CompanyName" class="form-control" placeholder="Enter Company Name">
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Contact Name: @Html.ValidationMessage("ContactName", new { @style = "color:red" })</label>
                    <input type="text" value="@Model.ContactName" name="ContactName" class="form-control" placeholder="Contact Name">
                </div>
                <div class="col-sm-6">
                    <label>Contact Title: @Html.ValidationMessage("ContactTitle", new { @style = "color:red" })</label>
                    <input type="text" value="@Model.ContactTitle" name="ContactTitle" class="form-control" placeholder="Ex: Sale Manager">
                </div>
            </div>
            <div class="form-group">
                <label>Address: @Html.ValidationMessage("Address", new { @style = "color:red" })</label>
                <input type="text" value="@Model.Address" name="Address" class="form-control" placeholder="Address">
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Country:</label>
                    <select class="form-control" name="Country">
                        <option value="">-- Choose Country --</option>
                        @foreach (var country in SelectListHelper.Countries())
                        {
                            if (Model.Country == country.Value)
                            {
                                <option value="@country.Value" selected>@country.Text</option>
                            }
                            else
                            {
                                <option value="@country.Value">@country.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>City:</label>
                    <input type="text" class="form-control" value="@Model.City" name="City" placeholder="Ex: New Orleans">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Phone:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" name="Phone" value="@Model.Phone" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Fax:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fax"></i>
                        </div>
                        <input type="text" name="Fax" value="@Model.Fax" class="form-control">
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>

